.wQio {
  margin-top: 1rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 3rem;
}

.tab_pane {
  box-shadow: 0 0 10px 0px #adadad;
  width: 40rem;
  height: auto;
  padding: 2rem;
  background: #fff;
  border-radius: 10px;
}
