@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
/*  font-family: 'Satisfy', cursive;*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");
/* font-family: 'Poppins', sans-serif; */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #000;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
svg {
  width: 24px;
  height: 24px;
}

ul {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}
