.main {
  background: url(./images/bg-cyan.jpg) no-repeat;
  background-size: cover;
  background-position: fixed;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.formInput label {
  border-radius: 5px;
  position: absolute;
  top: 0.7rem;
  left: 0.5rem;
  font-weight: 600;
  padding: 0 5px;
  font-size: 14px;
  font-family: "Lucida Sans Unicode", Verdana, sans-serif;
  color: #1f9573;
  background: #fff;
  transition: all 0.3s ease;
}
.input {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 1px;
  outline: none;
  border: 1px solid transparent;
  font-size: 1.2rem;
  color: #012a3a;
  border-radius: 8px;
  padding: 13px 10px 6px;
}
.input:focus ~ label,
.input:not(:placeholder-shown) ~ label {
  top: -0.5rem;
  left: 15px;
  font-size: 12px;
}
.input:focus ~ .imgPass,
.input:not(:placeholder-shown) ~ .imgPass {
  top: -1.5rem;
}
.input:focus {
  border-color: #52cdcb;
}
.imgPass {
  position: absolute;
  right: 10px;
  top: 0.5rem;
  width: 25px;
  height: 25px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.link {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 1rem 1rem 0;
  color: #203a45;
  transition: 0.3s;
  text-decoration: none;
}
.link:hover {
  color: #012d3f;
}
.error {
  font-size: 0.9rem;
  background: rgba(255, 255, 255, 0.267);
  color: rgb(196, 4, 4);
  padding: 0.1rem 0.5rem;
  margin: 0 0.4rem;
  width: fit-content;
  border-radius: 10px;
  position: absolute;
  top: 3.2rem;
  letter-spacing: 1px;
  font-family: Tahoma, Geneva, Verdana, sans-serif;
}
.custom_file_input {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
/*custom inpu file*/
.custom_file_input::after {
  content: "▲ Upload File";
  color: #fff;
  display: inline-block;
  background: #1f9573;
  padding: 10px 22px;
  outline: none;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
  border-radius: 2px;
  outline: none;
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12),
    0 3px 1px -2px rgba(0, 0, 0, 0.2);
}
.custom_file_input:focus {
  outline: none !important;
}
.custom_file_input:active::after {
  transform: scale(0.9) translate(0px, 2px);
  box-shadow: inset 4px 4px 5px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 425.98px) {
  .formInput label {
    font-size: 12px;
  }
  .input {
    font-size: 12px;
  }
  .error {
    top: 2.7rem;
    font-size: 12px;
  }
  .imgPass {
    top: 0.4rem;
    width: 24px;
    height: 24px;
  }
  .custom_file_input {
    font-size: 12px;
  }
  .link {
    font-size: 14px;
  }
}
