.arrows {
  border: 1px solid transparent;
  align-items: center;
  justify-content: center;
  padding: 3px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: ease 0.3s all;
  outline: none;
  z-index: 5;
}
@media (pointer: coarse) {
  .arrows.prev,
  .arrows.next {
    display: none !important;
  }
}
